.bdc-container {
  display: grid;
  grid-template-columns: auto;
  border: solid 1px;
  border-color: aquamarine;
  padding: 25px;
  margin: 0 25px 0 15px;
  border-radius: 25px;
}

.bdc-detail {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  border: solid 1px;
  border-color: aquamarine;
  border-radius: 25px;
  background-color: #334155;
  height: 55px;
}

.bdc-detail .bdc-detail-photo img {
  width: 45px;
  border-radius: 50%;
  margin: 0 15px 0 10px;
}

.bdc-detail .bdc-detail-name-date {
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 5px;
}

.bdc-detail-center-date {
  font-size: small;
}
