* {
  font-family: monospace;
}

.cc-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  top: 0;
  left: 0;
  display: block;
  border: solid 0.1px;
  border-color: aquamarine;
  border-radius: 20px;
  margin: 5px;
  background-color: #1f2937;
}

.cc-container .cc-cont-border {
  margin: 5px;
  border-radius: 16px;
  background-color: #374151;  
  padding: 5px;
}

.cc-container .cc-cont-border .cc-cont-content {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 110px;
  margin-top: -15px;
}

.cc-container .cc-cont-border .cc-cont-content .cc-cont-content-left {
  display: flex;
  flex-direction: column;
}

.cc-cont-header {
  cursor: pointer;
  font-size: small;
  margin-bottom: 5px;
}

.cc-cont-text2 {
  font-size: x-small;
  margin-top: 5px;
}

.cc-cont-content-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
