.dashboard-container {
  display: grid;
  grid-template-columns: 25% 75%;
  justify-content: space-around;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.dashboard-container.Dark {
  background-color: var(--primary-bg-color-dark);
  transition: all 0.5s ease-in-out;
}

.dashboard-container .dbc-left {
  display: grid;
  grid-template-rows: 12% 28% 30% 30%;
  /* border: solid 1px; */
  padding: 5px 10px 0 10px;
  align-items: start;
  gap: 5px;
}

.db-left-container-redes img {
  border-radius: 5px;
  width: 40px;
  height: 70px;  
}

.db-left-container-redes div {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columns */
  /* gap: 5px; */
  cursor: pointer;
}

.dashboard-container .dbc-left .dashboard-header {
  background-color: var(--primary-bg-strong-color-dark);
  border-radius: 25px;
  margin-top: 15px;
  padding-left: 15px;
}

.dashboard-container .dbc-left .dashboard-header .db-userdata-lastconect {
  font-size: x-small;
}

.dashboard-container .dbc-right {
  display: grid;
  grid-template-rows: 45% 55%;
  /* width: 100%; */
}

.dashboard-container .dbc-right .dbc-right-charts {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 15px;
  /* justify-content: space-between; */
}
.dashboard-container .dbc-right .dbc-right-charts .chart {
  margin-left: 15px;
}

.dashboard-container .dbc-right .dbc-right-charts .chart {
  /* display: block; */
  /* width: calc(100% - 50px); */
}

.dashboard-container .dbc-right .dbc-right-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
