.dashboard-container {
  display: grid;
  /* grid-template-columns: max(20%, 350px) max(80%, 350px); */
  grid-template-columns: 25% 75%;
  justify-content: space-around;
  background-color: white;
  transition: all 0.5s ease-in-out;
  border: solid 1px;
}

.dashboard-container.Dark {
  background-color: var(--primary-bg-color-dark);
  transition: all 0.5s ease-in-out;
}

.dashboard-container .dbc-left {
  display: grid;
  grid-template-rows: 12% 28% 30% 30%;
  border: solid 1px;
  padding: 5px 10px 0 10px;
  align-items: start;
}


.dashboard-container .dbc-left .dashboard-header{
  background-color: var(--primary-bg-header-color-dark);
  border-radius: 25px;
  margin-top: 15px;
  padding-left: 15px;
}

.dashboard-container .dbc-right {
  display: grid;
  grid-template-rows: 40% 60%;
  /* width: 100%; */
}

.dashboard-container .dbc-right .dbc-right-charts {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 15px;
  /* justify-content: space-between; */
}
.dashboard-container .dbc-right .dbc-right-charts .chart {
  margin-left: 15px;
}

.dashboard-container .dbc-right .dbc-right-charts .chart {
  /* display: block; */
  /* width: calc(100% - 50px); */
}

.dashboard-container .dbc-right .dbc-right-table {
  width: 40%;
}
